{% extends 'base.html'%}

{% block content %}
    <section class = "bg-dark text-light text-center shadow">
        <div class="container p-5 bg-dark">
            <div class="row">
                <div class="d-md-flex bg-dark align-items center justify-content-evenly">
                    <h1 class="col text-center"><br>Your Car Collection</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center bg-dark"style="background: #000">
        <div class="container" >
            <div class="row-2m">
                 <div class="d-flex align-items-center justify-content-center" >
                    <img src="../../static/Images/paul-kansonkho-9xjHQvdMi4c-unsplash.jpg" class='img-fluid justify-center bg-contain bg-fixed height:auto' alt="">
                </div>
            </div>
         </div>
    </section>

{% endblock %}

//0cbca462201d0c19961bbe89ed208f44eda84b61a7e1a127
//"name":
"email":
"phone_number":
"address"
"car_make":
"car_model":
"car_year":